.nuevaCuenta {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.FormNuevaCuenta .logo-usuario {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  top: 0;
  left: 0;
}


.CNuevaCuenta {
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.CNuevaCuenta h2 {
   
    padding-top: 20px;
    font-size: 40px;
    
}

.CNuevaCuenta p {
    width: 80%;
    font-size: 20px;
}

.CFormulario {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #bcbcbc;
    border-radius: 15px;
    background: #dfdfdf;
}
.CFormulario2 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #bcbcbc;
    border-radius: 15px;
    background: #dfdfdf;
    display: none;
}
.CFormulario3 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #bcbcbc;
    border-radius: 15px;
    background: #dfdfdf;
    display: none;
}

.CFormulario h2 {
   
    margin: 0;
    font-size: 30px;
}
.CFormulario2 h2 {
   
    margin: 0;
    font-size: 30px;
}
.CFormulario3 h2 {
   
    margin: 0;
    font-size: 30px;
}

.formulario {
    background: #dfdfdf;
    width: 100%;
}

.contenedorFormulario {
  background: #dfdfdf;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contenedorFormulario div {
  display: flex;
  width: 40%;
  text-align: start;
  flex-direction: column;
  margin: 20px 0;
}

.contenedorFormulario input,
.contenedorFormulario select {
    margin-top: 10px;
    padding: 12px 15px;
    border: 1px solid #bcbcbc;
    color: black;
    border-radius: 15px;
}

input {
  border-style: solid;
  background: white;
  border: 1px solid #d6d6d6;
}

.formulario button {
    display: flex;
    margin: 0 30px 50px auto;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 20px;
    background-color: #bc87ff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

@media (max-width: 768px) {
  .CNuevaCuenta h2 {
    font-size: 40px;
  }
  .CNuevaCuenta p {
    width: 90%;
    font-size: 18px;
  }
  .CFormulario {
    width: 80%;
  }
  .contenedorFormulario div {
    width: 80%;
  }
  .formulario button {
    width: 60% !important;
  }
}

.CFormulario2 button {
    display: flex;
    margin: 0 30px 50px auto;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 20px;
    background-color: #bc87ff;
    border: none;
    border-radius: 15px;
    cursor: pointer;

}

.CFormulario .card {
   
   width: 80px;
    height: 25px;
  
    border-radius: 20px;


    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    
 
    margin: 30px auto 50px auto;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 20px;
    background-color: #bc87ff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}