.nuevaCuenta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CNuevaCuenta {
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.CNuevaCuenta h2 {
  padding-top: 50px;
  font-size: 50px;
}

.CNuevaCuenta p {
  width: 80%;
  font-size: 20px;
}

.CFormulario {
  background: #dfdfdf;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #bcbcbc;
  border-radius: 15px;
}

.CFormulario h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  width: 100%;
}

.contenedorFormulario {
  background: #dfdfdf;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contenedorFormulario div {
  display: flex;
  width: 40%;
  text-align: start;
  flex-direction: column;
  margin: 20px 0;
}

.contenedorFormulario input,
.contenedorFormulario select {
  background: white;
  color: #000;
  margin-top: 10px;
  padding: 12px 15px;
  border-radius: 5px;
}

input {
  border-style: solid;
  background: white;
  border: 1px solid #d6d6d6;
}

.formulario button {
  margin: auto !important;
  border-style: hidden;
  padding: 10px;
  width: 30% !important;
  background-color: #bc87ff !important;
  color: #fff;
}

@media (max-width: 768px) {
  .CNuevaCuenta h2 {
    font-size: 40px;
  }
  .CNuevaCuenta p {
    width: 90%;
    font-size: 18px;
  }
  .CFormulario {
    width: 80%;
  }
  .contenedorFormulario div {
    width: 80%;
  }
  .formulario button {
    width: 60% !important;
  }
}
